header {
  position: fixed;
  width: 100%;
  height: 8rem;
  top: 0;
  z-index: 1;
  background: transparent;
  padding: 1rem 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLeft {
  height: 5rem;
  width: auto;
  margin-right: 3rem;
}
.navRight {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start;
}
.navRight > a:not(:last-child) {
  padding-right: 1rem;
}

.logo {
  width: auto;
  height: 100%;
}

@media (max-width: 425px) {
  header {
    padding: 1rem 2rem;
  }
}
